{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block body %}
        <div class="form">
		    {{ form(form) }}
            <button class="btn-primary btn-lg submit" type="submit">
		</div>
{% endblock %}