{% extends 'base.html.twig' %}

{% block title %}Propriétés{% endblock %}

{% block body %}
    <h2 class="h4 mt-2">Propriété {% if housing is defined %}{{ housing.adress}}{% endif %}</h2>

    {{ form_start(form) }}
        <div class="form-group">
            <button type="submit" class="btn btn-success my-2">Enregistrer</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
