{% extends 'base.html.twig' %}

{% block title %}Hello HousingController!{% endblock %}

{% block body %}
    {% for housing in housings %}
        {% if housing.isVisible == true %}
{#            {{ dump(housing) }}#}
                    <p><a href="{{ path('housingDetails', {id:housing.id}) }}">{{ housing.adress }}</a></p>
        {% endif %}
    {% endfor %}
{% endblock %}
